<div class="admin-container">
  <!-- Sidebar Tabs -->
  <div class="sidebar">
    <h2>Admin Menu</h2>
    <button (click)="selectTab('welcome')" [class.active]="activeTab === 'welcome'">Welcome</button>
    <button (click)="selectTab('instructors')" [class.active]="activeTab === 'instructors'">Instructors</button>
    <button (click)="selectTab('students')" [class.active]="activeTab === 'students'">Students</button>
    <button (click)="selectTab('courses')" [class.active]="activeTab === 'courses'">Courses</button>
    <button (click)="selectTab('enrollments')"
            [class.active]="activeTab === 'enrollments'">
      Enrollments
    </button>

    <!-- Add more tabs later: Bookings -->
  </div>

  <!-- Main Content -->
  <div class="main-content">
    <!-- Welcome Tab -->
    <div *ngIf="activeTab === 'welcome'" class="welcome-tab">
      <h1>Welcome to CourseBooking Admin!</h1>
      <p>Here you can manage Instructors, Students, Courses and Bookings.</p>

      <ul>
        <li><b>Instructors Tab:</b> Manage instructor information.</li>
        <li><b>Students Tab:</b> Manage students and their data.</li>
        <li><b>Courses Tab:</b> Create, update, and delete courses.</li>
        <li><b>Enrollments Tab:</b> Enroll students into courses.</li>
      </ul>
    </div>



    <!-- Instructors Tab -->
    <div *ngIf="activeTab === 'instructors'">
      <app-instructors></app-instructors>
    </div>

    <!-- Students Tab -->
    <div *ngIf="activeTab === 'students'">
      <app-students></app-students>
    </div>

    <!-- Courses Tab -->
    <div *ngIf="activeTab === 'courses'">
      <app-courses></app-courses>
    </div>

    <!-- Enrollments Tab -->
    <div *ngIf="activeTab === 'enrollments'">
      <app-enrollment></app-enrollment>
    </div>

  </div>
</div>
